.mainPage .divBtnParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Align children to the middle vertically */
    width: 90%; /* Adjust the width of the container to 90% of the screen */
    margin: 0 auto; /* Center the container horizontally */
    max-height: calc(100vh - 230px);
    overflow-y: auto; /* Allow vertical scrolling when children exceed container height */
}

    .mainPage .divBtnParent .btnMaster,
    .mainPage .divBtnParent .btnMenu,
    .mainPage .divBtnParent .btnSealedMenu {
        margin: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        background-color: transparent;
        font-size: 30px;
        color: white;
       
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden; /* Hide any overflowed text */
        text-overflow: ellipsis; /* Display ellipsis for overflowed text */
    }

    .mainPage .divBtnParent .btnMaster {
        width: 216px;
        height: 70px;
        background-image: url('../Images/返回按钮_默认.png');
        background-position: 0px 0px;
        padding: 0px 20px 0px 20px; /* Add padding to create space around the text */
    }

    .mainPage .divBtnParent .btnMenu {
        width: 275px;
        height: 78px;
        background-image: url('../Images/按钮02_默认.png');
        background-position: 0px 0px;
        padding: 0px 20px 0px 20px; /* Add padding to create space around the text */
    }

    .mainPage .divBtnParent .btnSealedMenu {
        width: 275px;
        height: 78px;
        background-image: url('../Images/按钮01_默认.png');
        background-position: 0px 0px;
        padding: 0px 20px 0px 20px; /* Add padding to create space around the text */
    }


.mainPage .btnReturn {
    position: fixed;
    bottom: 0;
    left: 50%; /* Align horizontally at the center */
    transform: translateX(-50%); /* Move back horizontally by half of its own width */
    width: 262px;
    height: 96px;
    background-image: url('../Images/返回按钮点击.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: #ffd800;
}

.mainPage .title {
    /* title text with background image, align to the center and top of the div*/ /*title text with background image, align to the center and top of the div
        can set offset
        the bg image size is fixed,
    */
    height: 80px;
    background-image: url(../Images/表头.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 36px;
    color: white;
    margin-top: -13px;
    padding-top: 0px;
}

.mainPage .subtitle {
    height: 32px;
    background-image: url(../Images/二级标题.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 16px;
    color: white;
    margin-top: -55px;
    padding-top: 10px;
}
